---
---

body {
    background-color:#D5E4E9;
    background: linear-gradient(#F9F2E8, #D5E4E9) fixed;
    padding:50px;
    font: 14px/1.5 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#222222;
    font-weight:400;
}

h1, h2, h3, h4, h5, h6 {
    color:#222;
    margin:0 0 20px;
}

.name {
    font-family:'Lora';
    font-size:36px;
    font-weight:300;
    color:black;
}
  
h2 {
    font-family:'Lora';
    font-size: 28px;
    font-weight: 400;
    color:#393939;
}
  
h3, h4, h5, h6 {
    font-family: 'Open Sans';
    color:#494949;
}

summary, .menu {
    font-weight:700;
    font-size: 18px;
    color:#393939;
    line-height: 12px;
}
  
a {
    text-decoration:none;
    color: inherit;
}
  
a:hover, a:focus {
    color:#4A7B8E;
    font-weight: bold;
}

.logo {
    max-width:200px;
}