<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <!--Add your custom fonts here:-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

    <link rel="stylesheet" href="{{ "/assets/css/additional.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <!--Customise your name and occupation here-->
        <h1 class="name"><a href="https://timeadee.github.io/">Timea<br>Demeterova</a></h1>
        <p class="occupation">IT Graduate</p>
        
        {% if site.logo %}
          <img class="logo" src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <br>
        <br>
        <br>
        <!--Customise your menu here:-->
        <p class="menu"><a href="https://timeadee.github.io/">My Projects</a></p>
        <p class="menu"><a href="/about">About Me</a></p>
        <p class="menu"><a href="https://www.linkedin.com/in/timea-demeterova-220717/">LinkedIn Profile</a></p>  
        <p class="menu"><a href="https://github.com/timeadee">GitHub Profile</a></p>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages.</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
